.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: relative;
    .home_logo {
        img{
            width: 200px;
        }
    }
    .nav_list{
        display: inline-flex;
        list-style: none;
        .nav_list--item{
           margin: 0 10px;
        }
    }
    .cart{
        display: inline-block;
        .cart__icon{
            font-size: 20px;
        }
    }
}
.menu__icon{
    position: absolute;
    right: 18px;
    top: 30%;
    z-index: 2;
    cursor: pointer;
    display: none;
    .menu__icon__item{
        margin: 5px;
        width: 30px;
        height: 2px;
        background-color: #000;
    }
}
@media only screen and(max-width:600px){
    .navbar{
        .nav_list{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 0px;
            padding: 0;

            z-index: 1;
            overflow: hidden;

            transition: all .36s ease-in-out;
            background-color: seashell;

            position: absolute;
            top: -20px;
            left: 0;
            .nav_list--item{
               margin: 6px 0;
               font-size: 30px;
            }
            &.active{
                height: 300px;
            }
        }
        .cart{
            position: absolute;
            top: 30%;
            right: 18%;
            .cart__icon{
                font-size: 25px;
            }
        }
    }
    .menu__icon{
        display: block;
    }
}