.pagination{
    list-style: none;
    display: flex;
    padding: 0;
    .pagination__item{
        border: 2px solid var(--primary--color);
        margin: 0 10px;
        padding: 6px 10px;

        cursor: pointer;
        transition: all .36s cubic-bezier(0.075, 0.82, 0.165, 1);
        &.active{
            color: #fff;
            background-color: var(--primary--color);
        }
        &:hover{
            color: #fff;
            background-color: var(--primary--color);
        }
    }
    .arrow{
        margin: 0 10px;
        padding: 6px 10px;
        font-size: 20px;
    }
}