.pet__detail{
    display: flex;
    .pet__detail__image{
        flex-basis: 50%;
        img{
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    }
    .pet__detail__content{
        flex-basis: 50%;
        .add__btn{
            display: inline-block;
            background-color: var(--primary--color);
            padding: 5px 18px;
            border-radius: 18px;
            transition: all .25s ease-in-out;
            color: #fff;
            &:hover{
                background: #9e1444;
            }
        }
    }
}