.pet__detail{
    display: flex;
    margin: 50px 0 100px 0;
    .pet__detail__image{
        flex-basis: 50%;
        margin-left: 5%;
        margin-right: 2.5%;
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .pet__count{
        width: 50px;
        height: 20px;
        text-align: center;
        border: 2px solid #000;
        color: var(--primary--color);
        font-size: 18px;
        margin: 0 40px 0 0;
        border-radius: 3px;
    }
    .pet__detail__content{
        margin-left: 2.5%;
        margin-right: 5%;
        flex-basis: 50%;
        .add__btn{
            display: inline-block;
            background-color: var(--primary--color);
            padding: 5px 18px;
            border-radius: 18px;
            transition: all .25s ease-in-out;
            color: #fff;
            &:hover{
                background: #9e1444;
            }
        }
    }
}